/* if the viewport is equal 340px or less */

@media only screen and (max-width: 340px) {
    .header_area .main_menu .navbar {
        padding: 4%;
        margin: 0;
    }

    .site-main .site-banner .site-title h3 {
        font-size: 40px;
        text-align: center;
        padding-top: 5%;
        
    }
    .site-main .site-banner .site-title h1 > span {
        /* font-size: 40px; */
        text-align: center;
        
    }

    .site-main .about-area .about-title h2 > span{
        font-size: 24px;
        padding: 4%;
        margin: 0;
    }
    .site-main .about-area .about-title .paragraph>p {
        padding: 4%;
        width: 80%;
    }

}